<section class="user-details">
  <div class="image">
    <%= image_tag 'placeholder.png' %>
  </div>
  <div class="details">
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <h3>
      <span>Phone number: </span><%= @user.phone %>
    </h3>
    <h3>
      <span>Date of birthday: </span><%= @user.date_of_birth %>
    </h3>
    
    <% if user_signed_in? %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: 'btn-success' %>
      <%= link_to "Destroy Profile", @user, method: :delete, class: 'btn-danger' %>
    <% end %>
    <%= link_to "Back home", root_path, class: 'btn-warning' %>
  </div>
  
  <aside>
    <% if user_signed_in? && @user.appointments.present? %>
      <h4><span>Appointments</span></h4>
      <ul>
        <% @user.appointments.each do |appointment| %>
          <br>
          <li>
            <span>Date: </span> <%= appointment.appointment_date %>
          </li>
          <li>
            <span>Description: </span> <%= appointment.description %>
          </li>
          <li>
            <span>Status: </span> <%= appointment.status %>
          </li>
          <li>
            <span>Doctor: </span><%= link_to "#{appointment.doctor.first_name} #{appointment.doctor.last_name}", appointment.doctor %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </aside>
</section>
