<div id="<%= dom_id doctor %>">
  <p>
    <strong>First name:</strong>
    <%= doctor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= doctor.last_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= doctor.gender %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= doctor.date_of_birth %>
  </p>

</div>
