<%= form_with(model: doctor) do |form| %>
  <%= render 'shared/errors', object: doctor %>
  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :date_of_birth, style: "display: block" %>
    <%= form.date_field :date_of_birth %>
  </div>
  
  <div>
    <%= form.label :main_image %>
    <%= form.file_field :main_image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
