<section class="user-details">
  <div class="image">
    <%= image_tag 'doctor.png' %>
  </div>
  <div class="details">
    <h1><%= "#{@doctor.first_name} #{@doctor.last_name}" %></h1>
    <h2>
      <span>Category: </span><%= @doctor.category.name %>
    </h2>
    
    <h2>
      <span>Phone number: </span><%= @doctor.phone %>
    </h2>
    
    <% if user_signed_in? %>
      <%= link_to 'Create appointment', new_doctor_appointment_path(@doctor),
            class: 'btn-success' %>
    <% end %>
    <%= link_to "Back to home", root_path, class: 'btn-warning' %>
  </div>
  
  <aside>
    <% if doctor_signed_in? && @doctor.appointments.present? %>
      <h4>Appointments</h4>
      <ul>
        <% @doctor.appointments.each do |appointment| %>
           <br>
          <li>
            <span>Date: </span> <%= appointment.appointment_date %>
          </li>
          
          <% unless appointment.description.blank? %>
            <li>
              <span>Description: </span> <%= appointment.description %>
            </li>
          <% end %>
          <li>
            <span>Status: </span> <%= appointment.status %>
          </li>
          <li>
            <span>Patient: </span><%= link_to "#{appointment.user.first_name} #{appointment.doctor.last_name}", appointment.user %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </aside>

</section>
