<%= form_with(model: category) do |form| %>
  <%= render 'shared/errors', object: category %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
