<header>
  <nav>
    <%= link_to image_tag("logo.png"), root_path %>
    <% if user_signed_in? %>
      <ul class="left">
        <li>
          <%= link_to "Profile", user_path(current_user), class: "button" %>
        </li>
        <li>
          <%= link_to "Categories", categories_path, class: "button" %>
        </li>
        <li>
          <%= link_to "Doctors", doctors_path, class: "button" %>
        </li>
      </ul>
      <ul class="right">
        <li>
          <%= link_to current_user.first_name, current_user  %>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: 'button' %>
        </li>
      </ul>
    <% elsif doctor_signed_in? %>
      <ul class="left">
        <li>
          <%= link_to "Profile", doctor_path(current_doctor), class: "button" %>
        </li>
      </ul>
      <ul class="right">
        <li>
          <%= link_to current_doctor.first_name, current_doctor  %>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_doctor_session_path, data: { turbo_method: :delete }, class: 'button' %>
        </li>
      </ul>
    <% else %>
      <ul class="right">
        <li>
          <%= link_to "Login Doctor", new_doctor_session_path, class: "button" %>
        </li>
        <li>
          <%= link_to "Login Patient", new_user_session_path, class: "button" %>
        </li>
        <li>
          <%= link_to "Sign Up Patient", new_user_registration_path, class: "button" %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>